rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /gifts/{giftId} {
      allow read: if true;
      allow write: if false;
    }

    match /guests/{guestId} {
      allow read, write: if false;
    }

    match /gift_messages/{messageId} {
      allow read, write: if false;
    }

    match /payments/{paymentId} {
      allow get: if true;
      allow list: if false;
      allow write: if false;
    }

    match /song_suggestions/{id} {
      allow read, write: if false;
    }

    match /wall_messages/{id} {
      allow read, write: if false;
    }
  }
}
